body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #333;
  padding: 10px 0;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu li {
  display: inline-block;
}

.menu li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  position: relative;
  transition: all 0.3s ease;
}

.menu li a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.menu li a:hover {
  color: #FFD700; /* Cambia el color al pasar el cursor */
}

.menu li a:hover:before {
  width: 100%;
  left: 0;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo de menú semi-transparente */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; /* Para que esté por encima del contenido */
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu li {
  display: inline-block;
}

.menu li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.parallax {
  background-image: url('i.jpg'); /* URL de la imagen de fondo */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh; /* 100% del viewport height */
  padding: 100px 0;
}

.parallax h1, .parallax p {
  text-align: center;
  color: white;
}

.parallax p {
  max-width: 600px;
  margin: 0 auto;
}


body, html {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

img {
  max-width: 100%;
  animation: moverImagen 2s ease-in-out; /* Animación que se ejecuta al entrar */
}

@keyframes moverImagen {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

